In [69]:
import yfinance as yf
import pandas as pd

In [70]:
tickers = ["SPY", "AGG", "GC=F", "VNQ"]

prices = yf.download(tickers, start="2012-01-01", end="2023-12-31")["Adj Close"]

prices

[*********************100%***********************]  4 of 4 completed

Ticker                           AGG         GC=F         SPY        VNQ
Date
2012-01-03 00:00:00+00:00  79.452248  1599.699951  101.091934  35.285408
2012-01-04 00:00:00+00:00  79.343887  1611.900024  101.250504  34.682137
2012-01-05 00:00:00+00:00  79.452248  1619.400024  101.520096  35.007908
2012-01-06 00:00:00+00:00  79.517189  1616.099976  101.258476  34.893276
2012-01-09 00:00:00+00:00  79.452248  1607.500000  101.504250  34.772617
...                              ...          ...         ...        ...
2023-12-22 00:00:00+00:00  96.155380  2057.100098  469.225250  85.181526
2023-12-26 00:00:00+00:00  96.349968  2058.199951  471.206543  85.812790
2023-12-27 00:00:00+00:00  96.962921  2081.899902  472.058533  86.230400
2023-12-28 00:00:00+00:00  96.748878  2073.899902  472.236847  86.842232
2023-12-29 00:00:00+00:00  96.564018  2062.399902  470.869751  85.812790

[3018 rows x 4 columns]

In [71]:
csvfile = pd.read_csv("asset_class_marketcaps.csv", skiprows=1)
marketcap_years = [str(year) for year in range(2012, 2024)]
weights_years = [str(year)+".1" for year in range(2012, 2024)]

marketcap_df = csvfile[['Asset class'] + marketcap_years]

weights_df = csvfile[['Asset class'] + weights_years]
weights_df.columns = ['Asset class'] + marketcap_years

weights_df

,Asset class,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Equity,35.06%,40.81%,40.62%,40.64%,40.67%,42.67%,40.41%,42.43%,42.44%,46.09%,45.04%,46.72%
1,Fixed income,48.21%,46.00%,46.19%,46.63%,46.53%,44.80%,46.90%,44.99%,45.52%,42.45%,42.95%,41.62%
2,Commodity,12.27%,8.30%,7.74%,7.10%,7.33%,7.15%,7.29%,7.33%,7.93%,6.92%,8.04%,7.93%
3,Real estate,4.47%,4.89%,5.46%,5.63%,5.46%,5.38%,5.41%,5.25%,4.12%,4.54%,3.97%,3.73%

In [72]:
change = prices.pct_change(1,fill_method=None).dropna()
change

Ticker                          AGG      GC=F       SPY       VNQ
Date
2012-01-04 00:00:00+00:00 -0.001364  0.007626  0.001569 -0.017097
2012-01-05 00:00:00+00:00  0.001366  0.004653  0.002663  0.009393
2012-01-06 00:00:00+00:00  0.000817 -0.002038 -0.002577 -0.003274
2012-01-09 00:00:00+00:00 -0.000817 -0.005321  0.002427 -0.003458
2012-01-10 00:00:00+00:00 -0.000273  0.014619  0.008671  0.011103
...                             ...       ...       ...       ...
2023-12-22 00:00:00+00:00 -0.001314  0.008827  0.002010  0.003892
2023-12-26 00:00:00+00:00  0.002024  0.000535  0.004222  0.007411
2023-12-27 00:00:00+00:00  0.006362  0.011515  0.001808  0.004867
2023-12-28 00:00:00+00:00 -0.002207 -0.003843  0.000378  0.007095
2023-12-29 00:00:00+00:00 -0.001911 -0.005545 -0.002895 -0.011854

[3011 rows x 4 columns]

In [87]:
yearly_change = change.groupby(change.index.year).apply(lambda x: (1+x).prod() - 1)
yearly_change.index.name = "Year"
yearly_change.style.format("{:,.2%}")