In [2]:
import yfinance as yf
import pandas as pd

Skidanje cijena pomoću yfinance paketa:

In [3]:
tickers = ["SPY", "AGG", "GC=F", "VNQ"]

prices = yf.download(tickers, start="2012-01-01", end="2023-12-31")["Adj Close"]

prices

[*********************100%***********************]  4 of 4 completed

Ticker                           AGG         GC=F         SPY        VNQ
Date
2012-01-03 00:00:00+00:00  79.201958  1599.699951  101.091988  35.285416
2012-01-04 00:00:00+00:00  79.093979  1611.900024  101.250511  34.682125
2012-01-05 00:00:00+00:00  79.201958  1619.400024  101.520073  35.007904
2012-01-06 00:00:00+00:00  79.266724  1616.099976  101.258453  34.893276
2012-01-09 00:00:00+00:00  79.201958  1607.500000  101.504257  34.772625
...                              ...          ...         ...        ...
2023-12-22 00:00:00+00:00  95.852509  2057.100098  469.225250  85.181526
2023-12-26 00:00:00+00:00  96.046486  2058.199951  471.206573  85.812798
2023-12-27 00:00:00+00:00  96.657501  2081.899902  472.058533  86.230392
2023-12-28 00:00:00+00:00  96.444138  2073.899902  472.236847  86.842239
2023-12-29 00:00:00+00:00  96.259865  2062.399902  470.869751  85.812798

[3018 rows x 4 columns]

Čitanje i parsiranje csv dokumenta koji sadrži težine svake klase imovine, ispis težina klasa po godinama

In [4]:
csvfile = pd.read_csv("asset_class_marketcaps.csv", skiprows=1)
marketcap_years = [str(year) for year in range(2012, 2024)]
weights_years = [str(year) + ".1" for year in range(2012, 2024)]

marketcap_df = csvfile[["Asset class"] + marketcap_years]

weights_df = csvfile[["Asset class"] + weights_years]
weights_df.columns = ["Asset class"] + marketcap_years

weights_df = weights_df.set_index("Asset class")

weights_df = weights_df.apply(lambda x: x.str.rstrip("%").astype(float) / 100)

weights_df.style.format("{:,.2%}")

Pretvaranje cijena tickera u postotne povrate (razlika u cijeni iz dana u dan)

In [5]:
change = prices.pct_change(1, fill_method=None).dropna()
change

Ticker                          AGG      GC=F       SPY       VNQ
Date
2012-01-04 00:00:00+00:00 -0.001363  0.007626  0.001568 -0.017097
2012-01-05 00:00:00+00:00  0.001365  0.004653  0.002662  0.009393
2012-01-06 00:00:00+00:00  0.000818 -0.002038 -0.002577 -0.003274
2012-01-09 00:00:00+00:00 -0.000817 -0.005321  0.002427 -0.003458
2012-01-10 00:00:00+00:00 -0.000273  0.014619  0.008671  0.011103
...                             ...       ...       ...       ...
2023-12-22 00:00:00+00:00 -0.001314  0.008827  0.002010  0.003891
2023-12-26 00:00:00+00:00  0.002024  0.000535  0.004223  0.007411
2023-12-27 00:00:00+00:00  0.006362  0.011515  0.001808  0.004866
2023-12-28 00:00:00+00:00 -0.002207 -0.003843  0.000378  0.007095
2023-12-29 00:00:00+00:00 -0.001911 -0.005545 -0.002895 -0.011854

[3011 rows x 4 columns]

Pretvaranje dnevnih povrata u godišnje povrate radi konteksta

In [6]:
yearly_change = change.groupby(change.index.year).apply(lambda x: (1 + x).prod() - 1)
yearly_change.index.name = "Year"

yearly_change.style.format("{:,.2%}")

Računanje težinskih godišnjih povrata svakog tickera u indeksu (koliko je koja klasa pridonjelja godišnjem povratu indeksa)

In [7]:
asset_class_to_ticker_map = {
    "Equity": "SPY",
    "Fixed income": "AGG",
    "Commodity": "GC=F",
    "Real estate": "VNQ",
}

weights_df_copy = weights_df.copy()

weights_df_copy.rename(index=asset_class_to_ticker_map, inplace=True)
weights_df_copy = weights_df_copy.transpose()
weights_df_copy.index = weights_df_copy.index.astype("int64")

weighted_returns = weights_df_copy.multiply(yearly_change)

weighted_returns.style.format("{:,.2%}")

Godišnji povrati indeksa dobiveni sumiranjem stupaca

In [8]:
index_returns = weighted_returns.sum(axis=1).to_frame()

index_returns.index.name = "Year"
index_returns.columns = ["Index Returns"]

index_returns.style.format("{:,.2%}")

Računamo betu svakog tickera prema formuli:

$$
\beta = \frac{\mathrm{Cov}(R_{\mathrm{stock}}, R_{\mathrm{market}})}{\mathrm{Var}(R_{\mathrm{market}})}
$$

gdje su:

- $R_{stock}$: Povrat dionice
- $R_{market}$: Povrat indeksa koji smo stvorili
- $\mathrm{Cov}(R_{stock}, R_{market})$: Kovarijanca između povrata dionice i povrata indeksa
- $\mathrm{Var}(R_{market})$: Varijanca povrata indeksa

In [ ]:
daily_weights_df = change.index.to_frame()

# Pretpostavka da su weightovi svaki dan isti unutar jedne godine
daily_weights_df["Year"] = daily_weights_df["Date"].dt.year
daily_weights_df = daily_weights_df.merge(weights_df_copy, left_on="Year", right_index=True).set_index("Date")

daily_weights_df = daily_weights_df.drop(columns="Year")

daily_index_change = change.multiply(daily_weights_df).sum(axis=1)

In [10]:
kenneth_french_df = pd.read_csv("F-F_Research_Data_Factors_daily.CSV", skiprows=4)
kenneth_french_df = kenneth_french_df[:-3]

kenneth_french_df["Date"] = pd.to_datetime(kenneth_french_df["Date"], format="%Y%m%d")
kenneth_french_df = kenneth_french_df.set_index("Date")

kenneth_french_df

            Mkt-RF   SMB   HML     RF
Date
1926-07-01    0.10 -0.25 -0.27  0.009
1926-07-02    0.45 -0.33 -0.06  0.009
1926-07-06    0.17  0.30 -0.39  0.009
1926-07-07    0.09 -0.58  0.02  0.009
1926-07-08    0.21 -0.38  0.19  0.009
...            ...   ...   ...    ...
2024-09-20   -0.27 -0.72 -0.64  0.020
2024-09-23    0.21 -0.85 -0.08  0.020
2024-09-24    0.24  0.12 -0.58  0.020
2024-09-25   -0.29 -0.66 -0.70  0.020
2024-09-26    0.42  0.21  0.43  0.020

[25835 rows x 4 columns]

In [54]:
change.index = change.index.tz_localize(None)
daily_index_change.index = daily_index_change.index.tz_localize(None)

start_date = change.index[0]
end_date = change.index[-1]

filtered_kenneth_french_df = kenneth_french_df.loc[start_date:end_date]["RF"][1:] / 100
filtered_kenneth_french_df = filtered_kenneth_french_df.reindex(change.index, fill_value=0)

In [55]:
excess_index = daily_index_change.add(-filtered_kenneth_french_df, axis="index")
excess_change = change.add(-filtered_kenneth_french_df, axis="index")

In [ ]:
def linear_regression(stock_returns=excess_change, index_returns=excess_index):
    """
    Implement linear regression for CAPM from scratch using ordinary least squares (OLS).
    
    Parameters:
    -----------
    stock_returns: Series of excess stock returns
    market_returns: Series of excess market returns

    Returns:
    --------
    alpha: Intercept term (risk-adjusted excess return)
    beta: Slope (systematic risk)
    r_squared: R-squared value (goodness of fit)
    """

    result = pd.DataFrame(columns=["Ticker", "Alpha", "Beta", "R_squared"])

    n = len(excess_change)

    x_mean = excess_index.mean()
    
    for stock in stock_returns.columns:
        selected_stock = stock_returns[stock]
        y_mean = selected_stock.mean()
        
        xy_sum = sum((index_returns - x_mean) * (selected_stock - y_mean))

        x_square_sum = sum((index_returns - x_mean)**2)

        beta = xy_sum / x_square_sum
        alpha = y_mean - beta * x_mean

        # R-squared
        y_pred = alpha + beta * index_returns
        ss_res = selected_stock.sub(y_pred).pow(2).sum() # residual sum of squares
        ss_tot = selected_stock.sub(y_mean).pow(2).sum()  # total sum of squares
        r_squared = 1 - (ss_res / ss_tot)

        row = pd.DataFrame({
            "Ticker": [stock],
            "Alpha": [alpha],
            "Beta": [beta],
            "R_squared": [r_squared]
        })
        result = pd.concat([result, row], ignore_index=True)

    result.set_index("Ticker", inplace=True)

    return result

result = linear_regression()
result

           Alpha      Beta  R_squared
Ticker
AGG    -0.000022  0.210798   0.137067
GC=F   -0.000017  0.467243   0.065283
SPY     0.000041  1.843457   0.871428
VNQ    -0.000167  1.855788   0.642026

Račun bete na godišnjoj razini povrata dionice i indeksa:

In [12]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [ ]:
def yearly_betas(change= change, daily_index_change = daily_index_change, tickers = tickers, start_year = 2012, end_year= 2024):
    yearly_betas = pd.DataFrame(columns=['Year', 'Ticker', 'Beta'])
    
    temp1 = change.copy()
    temp2 = daily_index_change.copy()
    
    for ticker in tickers:
        for year in range(start_year, end_year + 1):
            ticker_changes = temp1[ticker].loc[temp1.index.year == year]
            index_changes = temp2.loc[temp2.index.year == year]
            beta = ticker_changes.cov(index_changes) / index_changes.var()
            yearly_betas = pd.concat(
                [yearly_betas, pd.DataFrame({'Year': [year], 'Ticker': [f"β ({ticker})"], 'Beta': [beta]})],
                ignore_index=True
            )
    
    yearly_betas = yearly_betas.pivot(index="Year", columns="Ticker", values="Beta")
    
    return yearly_betas[:-1]


yearly_betas = yearly_betas()

yearly_betas

/tmp/ipykernel_2119/3112607467.py:16: RuntimeWarning: invalid value encountered in scalar divide
  r_squared = 1 - (ss_res / ss_tot)

    Year    Ticker      Beta  R_squared
0   2012   β (SPY)  2.120995   0.812326
1   2013   β (SPY)  1.560215   0.765672
2   2014   β (SPY)  2.195741   0.825904
3   2015   β (SPY)  2.062416   0.858647
4   2016   β (SPY)  2.033425   0.814086
5   2017   β (SPY)  1.696735   0.637329
6   2018   β (SPY)  2.228643   0.938896
7   2019   β (SPY)  2.128359   0.829511
8   2020   β (SPY)  1.874215   0.928746
9   2021   β (SPY)  1.791428   0.903523
10  2022   β (SPY)  1.700813   0.909536
11  2023   β (SPY)  1.413140   0.771642
12  2024   β (SPY)       NaN        NaN
13  2012   β (AGG) -0.085619   0.019050
14  2013   β (AGG)  0.261831   0.206626
15  2014   β (AGG)  0.008885  -0.017406
16  2015   β (AGG)  0.048092   0.007642
17  2016   β (AGG)  0.119416   0.047688
18  2017   β (AGG)  0.263815   0.091982
19  2018   β (AGG)  0.021480   0.003511
20  2019   β (AGG)  0.034864  -0.018323
21  2020   β (AGG)  0.184772   0.142899
22  2021   β (AGG)  0.155903   0.085767
23  2022   β (AGG)  0.339098   0.326305
24  2023   β (AGG)  0.547407   0.353174
25  2024   β (AGG)       NaN        NaN
26  2012  β (GC=F)  1.801318   0.357941
27  2013  β (GC=F)  1.763090   0.228207
28  2014  β (GC=F)  0.195948   0.004011
29  2015  β (GC=F)  0.411754   0.035641
30  2016  β (GC=F) -0.050627  -0.002400
31  2017  β (GC=F)  0.717647   0.047023
32  2018  β (GC=F)  0.171442   0.014678
33  2019  β (GC=F)  0.104995  -0.005322
34  2020  β (GC=F)  0.395549   0.097493
35  2021  β (GC=F)  0.574177   0.068761
36  2022  β (GC=F)  0.322402   0.079421
37  2023  β (GC=F)  0.522980   0.102408
38  2024  β (GC=F)       NaN        NaN
39  2012   β (VNQ)  1.714418   0.475310
40  2013   β (VNQ)  1.973370   0.637885
41  2014   β (VNQ)  1.626738   0.467697
42  2015   β (VNQ)  1.956914   0.631390
43  2016   β (VNQ)  2.218917   0.587079
44  2017   β (VNQ)  1.979598   0.373129
45  2018   β (VNQ)  1.420208   0.431746
46  2019   β (VNQ)  1.401064   0.385116
47  2020   β (VNQ)  2.162809   0.782580
48  2021   β (VNQ)  1.506987   0.491801
49  2022   β (VNQ)  1.571547   0.746806
50  2023   β (VNQ)  1.889487   0.576264
51  2024   β (VNQ)       NaN        NaN

##### Backtesting po povijesnim podacima koristeći CAPM, prozor od 3 godine.

In [14]:
Rf_rate = yf.download("^IRX", start="2012-01-01", end="2023-12-31")["Adj Close"].dropna()
Rf_rate

[*********************100%***********************]  1 of 1 completed

Ticker                      ^IRX
Date
2012-01-03 00:00:00+00:00  0.005
2012-01-04 00:00:00+00:00  0.010
2012-01-05 00:00:00+00:00  0.010
2012-01-06 00:00:00+00:00  0.015
2012-01-09 00:00:00+00:00  0.005
...                          ...
2023-12-22 00:00:00+00:00  5.208
2023-12-26 00:00:00+00:00  5.203
2023-12-27 00:00:00+00:00  5.235
2023-12-28 00:00:00+00:00  5.218
2023-12-29 00:00:00+00:00  5.180

[3017 rows x 1 columns]

In [15]:
def rolling_beta(start_year, end_year, window, change=change, daily_index_change=daily_index_change, tickers=tickers):
    window_betas = pd.DataFrame(columns=['Window', 'Ticker', 'Beta'])
    
    temp1 = change.copy()
    temp2 = daily_index_change.copy()
    
    for ticker in tickers:
        window_years = range(start_year, end_year)    
        ticker_changes = temp1[ticker][temp1.index.year.isin(window_years)]
        index_changes = temp2[temp2.index.year.isin(window_years)]
        
        beta = ticker_changes.cov(index_changes) / index_changes.var()
    
        window_betas = pd.concat(
            [window_betas, pd.DataFrame({'Window': [end_year], 'Ticker': [ticker], 'Beta': [beta]})],
            ignore_index=True
        )
    
    window_betas = window_betas.pivot(index="Window", columns="Ticker", values="Beta")
    return window_betas

In [16]:
window = 3

CAPM_expected_return = pd.DataFrame(columns=["Year", "Ticker", "Expected Return", "Real Return"])

for i in range(2014, 2024, window):
    start_year = i - window + 1
    end_year = i + 1
    window_changes = yearly_change.loc[end_year] if end_year < 2024 else None # promjena tickera na vremenskom prozoru
    window_beta = rolling_beta(start_year=start_year, end_year=end_year,window=window) # beta izracunana na vremenskom prozoru
    window_rf_rate = Rf_rate.loc[Rf_rate.index.year == end_year-1].iloc[-1].squeeze() / 100 # zadnja vrijednost godišnjeg povrata trezoraca u godini prije one koju predvidamo
    window_index_return = index_returns.loc[start_year:end_year-1].mean().squeeze() # prosjecni godisnji povrat indeksa u prozoru

    for ticker in tickers:
        beta = window_beta[ticker]

        expected_return = window_rf_rate + beta * (window_index_return - window_rf_rate)
        
        if window_changes is not None:
            CAPM_expected_return = pd.concat([
                CAPM_expected_return,
                pd.DataFrame({
                    "Year": [end_year],
                    "Ticker": [ticker],
                    "Expected Return": [expected_return.squeeze()],
                    "Real Return" : [window_changes[ticker]]
                })
            ], ignore_index=True)
        else:
            CAPM_expected_return = pd.concat([
                CAPM_expected_return,
                pd.DataFrame({
                    "Year": [end_year],
                    "Ticker": [ticker],
                    "Expected Return": [expected_return.squeeze()],
                    "Real Return" : [None]
                })
            ], ignore_index=True)

CAPM_expected_return.set_index("Year")

     Ticker  Expected Return  Real Return
Year
2015    SPY         0.176627     0.012343
2015    AGG         0.008659     0.004807
2015   GC=F         0.130154    -0.104401
2015    VNQ         0.168474     0.024325
2018    SPY         0.121689    -0.029365
2018    AGG         0.018833     0.006752
2018   GC=F         0.028747    -0.009563
2018    VNQ         0.123796    -0.040523
2021    SPY         0.204993     0.287288
2021    AGG         0.016478    -0.017660
2021   GC=F         0.036726    -0.034652
2021    VNQ         0.210609     0.405370
2024    SPY         0.050586          NaN
2024    AGG         0.051537          NaN
2024   GC=F         0.051502          NaN
2024    VNQ         0.050599          NaN

##### Backtesting povijesnih podataka koristeći isti CAPM model, DNEVNE frekvencije i Kenneth French dnevne bezrizične stope

In [17]:
window = 3

CAPM_expected_return_daily = pd.DataFrame(columns=["Year", "Ticker", "Expected Return", "Real Return"])

for i in range(2014, 2024, window):
    start_year = i - window + 1
    end_year = i + 1
    window_changes_daily = change.loc[str(end_year)].mean() if end_year < 2024 else None
    window_beta_daily = rolling_beta(start_year=start_year, end_year=end_year,window=window) # beta izracunana na vremenskom prozoru
    window_rf_rate_daily = kenneth_french_df["RF"].loc[f"{start_year}-01-01":f"{end_year-1}-12-31"].mean().squeeze() # prosjecna bezrizicna stopa
    window_index_return_daily = daily_index_change.loc[f"{start_year}-01-01":f"{end_year-1}-12-31"].mean().squeeze() # prosjecni dnevni povrat indeksa u prozoru

    for ticker in tickers:
        beta = window_beta_daily[ticker]

        expected_return = window_rf_rate_daily + beta * (window_index_return_daily - window_rf_rate_daily)

        annualized_expected_return = (1 + expected_return.squeeze())**252 - 1
        
        if window_changes_daily is not None:
            annualized_real_return = (1 + window_changes_daily[ticker].mean())**252 - 1
            CAPM_expected_return_daily = pd.concat([
                CAPM_expected_return_daily,
                pd.DataFrame({
                    "Year": [end_year],
                    "Ticker": [ticker],
                    "Expected Return": [annualized_expected_return],
                    "Real Return" : [annualized_real_return]
                })
            ], ignore_index=True)
        else:
            CAPM_expected_return_daily = pd.concat([
                CAPM_expected_return_daily,
                pd.DataFrame({
                    "Year": [end_year],
                    "Ticker": [ticker],
                    "Expected Return": [annualized_expected_return],
                    "Real Return" : [None]
                })
            ], ignore_index=True)

CAPM_expected_return_daily.set_index("Year", inplace=True)
CAPM_expected_return_daily

     Ticker  Expected Return  Real Return
Year
2015    SPY         0.173721     0.024439
2015    AGG         0.014002     0.005529
2015   GC=F         0.127177    -0.094667
2015    VNQ         0.165420     0.039375
2018    SPY        -0.189513    -0.015496
2018    AGG         0.370620     0.007166
2018   GC=F         0.303002    -0.004236
2018    VNQ        -0.198199    -0.028603
2021    SPY        -0.683025     0.298147
2021    AGG         2.447163    -0.017033
2021   GC=F         1.670599    -0.023840
2021    VNQ        -0.704879     0.420657
2024    SPY        -0.721970          NaN
2024    AGG         2.845200          NaN
2024   GC=F         2.488825          NaN
2024    VNQ        -0.711376          NaN