In [204]:
import yfinance as yf
import pandas as pd

In [205]:
tickers = ["SPY", "AGG", "GC=F", "VNQ"]

prices = yf.download(tickers, start="2012-01-01", end="2023-12-31")["Adj Close"]

prices

[*********************100%***********************]  4 of 4 completed

Ticker                           AGG         GC=F         SPY        VNQ
Date
2012-01-03 00:00:00+00:00  79.204132  1599.699951  101.091934  35.285400
2012-01-04 00:00:00+00:00  79.096176  1611.900024  101.250542  34.682137
2012-01-05 00:00:00+00:00  79.204132  1619.400024  101.520111  35.007900
2012-01-06 00:00:00+00:00  79.268944  1616.099976  101.258453  34.893280
2012-01-09 00:00:00+00:00  79.204132  1607.500000  101.504272  34.772629
...                              ...          ...         ...        ...
2023-12-22 00:00:00+00:00  95.855179  2057.100098  469.225250  85.181526
2023-12-26 00:00:00+00:00  96.049171  2058.199951  471.206573  85.812790
2023-12-27 00:00:00+00:00  96.660194  2081.899902  472.058563  86.230400
2023-12-28 00:00:00+00:00  96.446823  2073.899902  472.236877  86.842239
2023-12-29 00:00:00+00:00  96.262535  2062.399902  470.869751  85.812790

[3018 rows x 4 columns]

In [206]:
csvfile = pd.read_csv("asset_class_marketcaps.csv", skiprows=1)
marketcap_years = [str(year) for year in range(2012, 2024)]
weights_years = [str(year) + ".1" for year in range(2012, 2024)]

marketcap_df = csvfile[["Asset class"] + marketcap_years]

weights_df = csvfile[["Asset class"] + weights_years]
weights_df.columns = ["Asset class"] + marketcap_years

weights_df = weights_df.set_index("Asset class")

weights_df = weights_df.apply(lambda x: x.str.rstrip("%").astype(float) / 100)

weights_df.style.format("{:,.2%}")

In [207]:
change = prices.pct_change(1, fill_method=None).dropna()
change

Ticker                          AGG      GC=F       SPY       VNQ
Date
2012-01-04 00:00:00+00:00 -0.001363  0.007626  0.001569 -0.017097
2012-01-05 00:00:00+00:00  0.001365  0.004653  0.002662  0.009393
2012-01-06 00:00:00+00:00  0.000818 -0.002038 -0.002577 -0.003274
2012-01-09 00:00:00+00:00 -0.000818 -0.005321  0.002428 -0.003458
2012-01-10 00:00:00+00:00 -0.000272  0.014619  0.008670  0.011103
...                             ...       ...       ...       ...
2023-12-22 00:00:00+00:00 -0.001314  0.008827  0.002010  0.003891
2023-12-26 00:00:00+00:00  0.002024  0.000535  0.004223  0.007411
2023-12-27 00:00:00+00:00  0.006362  0.011515  0.001808  0.004867
2023-12-28 00:00:00+00:00 -0.002207 -0.003843  0.000378  0.007095
2023-12-29 00:00:00+00:00 -0.001911 -0.005545 -0.002895 -0.011854

[3011 rows x 4 columns]

In [208]:
yearly_change = change.groupby(change.index.year).apply(lambda x: (1 + x).prod() - 1)
yearly_change.index.name = "Year"

yearly_change.style.format("{:,.2%}")

In [210]:
asset_class_to_ticker_map = {
    "Equity": "SPY",
    "Fixed income": "AGG",
    "Commodity": "GC=F",
    "Real estate": "VNQ",
}

weights_df_copy = weights_df.copy()

weights_df_copy.rename(index=asset_class_to_ticker_map, inplace=True)
weights_df_copy = weights_df_copy.transpose()
weights_df_copy.index = weights_df_copy.index.astype("int64")

weighted_returns = weights_df_copy.multiply(yearly_change)

weighted_returns.style.format("{:,.2%}")

In [222]:
index_returns = weighted_returns.sum(axis=1).to_frame()

index_returns.index.name = "Year"
index_returns.columns = ["Index Returns"]

index_returns.style.format("{:,.2%}")